<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021990125063-2kec8n71nt6knl3pt14fmbb6b7lvokv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021990125063-2kec8n71nt6knl3pt14fmbb6b7lvokv1</string>
	<key>API_KEY</key>
	<string>AIzaSyDY314xLIr56yuB5ZBGDwIPAk_KBwmwEvo</string>
	<key>GCM_SENDER_ID</key>
	<string>1021990125063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thekevinportela.GithubFinderRN</string>
	<key>PROJECT_ID</key>
	<string>github-finder-1d140</string>
	<key>STORAGE_BUCKET</key>
	<string>github-finder-1d140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021990125063:ios:ad402897a339fa1ccaf4a2</string>
</dict>
</plist>